#edit {
  margin-left: 116px;
}

#remove{
  margin-left: 95px;
}

#add{
  margin-left: 95px;
}

.fa-users {
  font-size: 120px;
  margin-left: 116px;
  color: rgba(0, 191, 255, 0.41);
  margin-top: 20px;
}

.fa-user-times {
  font-size: 120px;
  margin-left: 116px;
  color: rgba(0, 191, 255, 0.41);
  margin-top: 20px;
}

.fa-building {
  font-size: 120px;
  margin-left: 116px;
  color: rgba(0, 191, 255, 0.41);
  margin-top: 20px;
}


